<div class="mesgs">
  <div class="msg_history">
    <ul>
      <li *ngFor="let msg of messages">
        <div>
          <p>{{msg.content}}</p>
          <p>{{msg.timestamp}}</p>
        </div>
      </li>
    </ul>
  </div>

  <button class="msg_send_btn" type="button"><i class="fa fa-paperclip" aria-hidden="true"></i></button>
  <div class="type_msg">
    <div class="input_msg_write">
      <input type="text" class="write_msg" [(ngModel)]="message" placeholder="Type a message" />
      <button class="msg_send_btn" type="button" (click)="sendMessage()"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
  </div>
</div>

  <form id="inputFieldForm" action="" method="" enctype="multipart/form-data" name="form">
    <input id="inputField" autocomplete="off" /><input type="submit" id="sendButton" value="Send">
  </form>



