<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <div style="display:inline"class="recent_heading">
    <h4 style="display:inline">Log Out: </h4>
      <button style="display:inline" class="logout" type="button" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
  </div>

  <div style="cursor: pointer;" (click)="profilUser($event)" class="chat_list active_chat">
  <div class="chat_people">

    <div  class="chat_img"> <img src="https://unixtitan.net/images/female-vector-user-5.png" alt="sunil"> </div>

    <div class="chat_ib">
      <h5>{{retrieveUsername()}}<span class="chat_date">{{retrieveUserLogInDate()}}</span></h5>
      <p>{{retrieveLastMessage()}}</p>

    </div>
  </div>
</div>

<div class = "loggedInUsers">
<h5 class = "loggedInUsers_head">Logged in Users</h5>
    <div class = "users" *ngFor="let user of loggedInUsers()">
      <div class="users_u ">
        {{user.name}}
      </div>
    </div>

</div>
